* {
    margin: 0;
    padding: 0;
}

.paperContainer {
    margin: 20rem auto;
    padding: 2rem;
    width: 20%;
}

.loginForm {
    margin-top: 2rem !important;
}

.textFieldMUI {
    margin-bottom: 1rem !important
}