* {
    margin: 0;
    padding: 0;
}

.paperContainer {
    margin: 18rem auto;
    padding: 2rem;
    width: 20%;
}
.paperContainer form {
    display: flex;
    justify-content: center;
}

.textFieldMUI {
    margin-bottom: 1rem !important
}
.loginForm h3 {
    color: var(--primary-color);
    font-weight: bolder;
}