.customRow {
    height: 4rem;
    margin-top: 0.5rem !important;
}
.searchIcon {
    color: white;
}
.btnSearch {
    background-color: var(--primary-color) !important;
}
.btnSearch:hover {
    cursor: pointer;
    background-color: var(--secondary-color) !important;
}
.modalBody input  {
    margin-bottom: 0.5rem !important;
}
.footerBtn {
    width : 15rem
}