.App {
  text-align: center;
}

.btnCollapse {
  border-bottom: 1px solid white;
}

.btnCollapse .ps-menu-button:hover {
  background-color: #283a47 !important;
}

.ps-sidebar-container {
  background-color: #283a47 !important;
  color: white !important
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.5px;
  z-index: 2;
  background-color: #429a86;
}

.topbar .btnSignOut {
  background-color: #54c0a8;
  color: white;
  font-weight: bolder;
}

.topbar .btnSignOut:hover {
  background-color: #54c0a8;
}

.ps-menu-button:hover {
  background-color: #429a86 !important;
}